{% extends "layout.html" %}
{% block title %} Index {% endblock %}
{% block head %}
{{ super() }}
	<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyCgAUTHQKsBMyxyyCjUx7xU2inuVQVnxNM&sensor=false">
	</script>
	<script type="text/javascript">
	var map
	var offset = 0
	function initialize() {
		var mapOptions = {
		  center: new google.maps.LatLng(37.7756, -122.4193),
		  zoom: 12,
		  mapTypeId: google.maps.MapTypeId.TERRAIN
		};
		map = new google.maps.Map(document.getElementById("map-canvas"),
		    mapOptions);
      	}
      	
      	google.maps.event.addDomListener(window, 'load', initialize);
	
	function loadRide(rideId){
		url = "/ride/" + rideId
            	$.getJSON(url, function(data){
	      		var ridePath = []
	      		var bounds =  new google.maps.LatLngBounds()
	      			$(data.latlng).each(function(index){
	      				var p = new google.maps.LatLng(data.latlng[index][0], data.latlng[index][1])
	      				ridePath.push(p)
	      				bounds.extend(p)
	      			})
	      			var rideMap = new google.maps.Polyline({
					path: ridePath,
					strokeColor: "#FF0000",
			    		strokeOpacity: 1.0,
			    		strokeWeight: 2
		 		});
		 		rideMap.setMap(map);
		 		map.fitBounds(bounds)
	      		});
      }
      function loadRider(more){
      		var riderId = $("#riderId").val()
      		var textToInsert =""
      		if(!more){
      			$("#ridesList").html("");
      			offset = 0
      		}
      		else {
      			offset += 50
      		}
      		if(!isNumeric(riderId)){
      			alert("Invalid Rider Id!");
      		}
      		else{
      			url = "/rides/" + riderId + '/' + offset
      			$.getJSON(url, function(data){

      				$(data.rides).each(function(index, ride){
      					textToInsert += '<span class="ride_click_span" onClick="rideDetails(this,' + ride.id + ')"><a data-dismiss="modal" id="ride_link" href="#" onClick="loadRide(' + ride.id + ')">' + ride.name + '</a><i class="ride_info icon-plus"></i></span>'
      				})
      				$("#ridesList").append(textToInsert);
      			})
      		}
      }
      
      function rideDetails(element, rideId){
      		if($(element).data("expanded")){
      			$(element).children(".ride_details").html("")
      			$(element).data("expanded", false)
      		}
      		else {
      			$(element).data("expanded", true)
	      		url = "/ride/details/" + rideId
	      		var textToInsert = ""
	      		$.getJSON(url, function(data){
	      			textToInsert ='<div class="ride_details"><table><thead><tr><th>Location</th><th>Date</th><th>Distance</th></tr></thead><tbody><tr><td>' + data.ride.location + 
	      			'</td><td>' + data.ride.start_date_local +
	      			'</td><td>' + data.ride.distance +
	      			'</tr></tbody></table></div>'
	      			$(element).append(textToInsert);
	      		})
	      }
      }
      function isNumeric(n) {
  	return !isNaN(parseFloat(n)) && isFinite(n);
      }
      </script>
	
{% endblock %}
{% block content %}
<div id="mapRow" class="row">
	<div class="span9" id="map-canvas">Should be replaced</div>
	<div class="span3" id="sidebar">
		<h1>Ride details</h1>
		<div class="input-append">
			<input type="text" id="riderId" class="span2" value="139738"/>
			<a href="#ridesmodal" type="button" id="rider" class="btn" onClick="loadRider(false)" data-toggle="modal" data-target="#ridesmodal">Load Rides</a>
			
		</div>
	</div>
</div>
<div id="ridesmodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3 id="myModalLabel">Choose a ride</h3>
    </div>
    <div class="modal-body">
    	<ul id="ridesList"></ul>
    	<a href="#" onClick="loadRider(true)">More..</a>
    </div>
    <div class="modal-footer">
    	<br/>
    </div>
</div>   
{% endblock %}
